@{
    ViewBag.Title = "Desktop";
}

<div class="jumbotron">
   
</div>

<div class="row">
    <div class="col-md-4" style="align-content:center">
        <p>
            <h3> Dashboard under constraction...</h3>
        </p>
    </div>
</div>