$nav-bgcolor: #fff;
$nav-bgcolor1: #fff;
$nav-bgcolor2: #fff;
$side-bar-bgcolor: #333333;
$font-color1: #464646;
$font-color2: #ffffff;
$font-color3: #3ba6dd;
$active-button-color: #f1801a;
$button-color: rgba(256, 256, 256, 0.31);
$button-color1: #db536a;
$danger: #e0301e;
$green: #1a9b2b;
$login-bg-color: #fefefe;
