* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  background-color: rgba(222, 222, 222, 0.5);
  color: #2d2d2d;
}
label {
  font-family: 'Roboto', sans-serif;
}
textarea.form-control {
  height: auto;
  max-height: unset;
}
%inputBox-style {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}
.form-control {
  max-height: 33px;
  font-size: 0.8rem;
}
a,
a:hover {
  text-decoration: none;
}

@import 'header';
@import 'colorPalette';
@import 'mixins';
@import 'customButtons';
@import 'sidebar';
@import 'modal';
@import 'login';

.green-text {
  color: $green;
}
.red-text {
  color: $danger;
}
.card-body {
  p {
    margin-bottom: 0.4rem;
  }
}
.main {
  padding-top: 4.5rem;
  //height: 100vh;
  background-color: rgb(249, 249, 249);
}

/* main content css */
#content {
  width: calc(100% - 190px);
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  @include respond(phone) {
    width: 100%;
  }
  &.active {
    width: calc(100% - 100px);
    @include respond(phone) {
      width: calc(100% - 250px);
      overflow: hidden;
    }
  }
}
#page-content-wrapper {
  .content-width {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 80px;
    @include respond(phone) {
      max-width: 100%;
      margin-top: 60px;
    }
    @include respond(phone-land) {
      max-width: 100%;
      margin-top: 60px;
    }
    @include respond(tab-port) {
      max-width: 100%;
      margin-top: 60px;
    }
  }
}
.nav-tabs-cover {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
  @include respond(tab-port) {
    max-width: 100%;
  }
  & > .nav {
    &.nav-tabs {
      border: none;
      color: #464646;
      border-radius: 0;
      background-color: #f4f6fa;
    }
  }
}
.nav-tabs-cover {
  > div {
    justify-content: space-between;

    @include respond(tab-port) {
      flex-wrap: nowrap;
      overflow-x: auto;
    }
    button {
      &.nav-item {
        &.nav-link {
          padding: 15px 0;
          color: #464646;
          text-transform: capitalize;
          margin: 0;
          transition: all 0.5s ease-in-out;
          cursor: pointer;
          font-size: 0.875rem;
          background-color: transparent;
          border: none;
          img {
            margin-right: 10px;
          }
          span {
            @include respond(tab-port) {
              display: block;
            }
          }
          @include respond(tab-port) {
            max-width: 210px;
            padding: 14px 8px;
            margin-right: 0;
            text-align: center;
          }
          @include respond(phone) {
            flex: 0 0 auto;
            padding: 14px 20px;
            text-align: center;
          }
          @media (min-width: 320px) {
          }
        }
        &.nav-link:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
.nav-tabs-cover > div button.nav-item.nav-link.active {
  background: #3ba6de;
  color: #fff;
  outline: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0;
}
.tab-content {
  .event-detail {
    background: #fff;
    padding: 1rem 0.5rem 0.6rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    border: 1px solid rgba(125, 125, 125, 0.2);
    border-radius: 0.625rem;

    @include respond(phone) {
      padding: 1rem 0;
      margin-right: auto;
    }
    [class*='col-'] {
      padding-right: 5px;
      padding-left: 5px;
    }
  }
  h2 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}
.nav-tabs-cover > div button.nav-item.nav-link:hover,
.nav-tabs-cover > div button.nav-item.nav-link:focus {
  background: #3ba6de;
  color: #fff;
  outline: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

/* new request form section*/
.main h1 {
  color: #5b5b5b;
  font-size: 1.4rem;
  text-align: center;
  margin: 0.5rem 0.5rem 1rem;
}
form {
  sup {
    color: red;
  }
}
/* dropdown list style*/
.selectdiv {
  position: relative;
  &:after {
    content: '>';
    font: 0.8rem 'Consolas', monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    /*Adjust for position however you want*/

    top: 9px;
    padding: 0 0 2px;

    position: absolute;
    pointer-events: none;
  }
  & select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */

    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.8rem;
    line-height: 1.5;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
    border-radius: 0.25rem;
  }
}
select {
  &::-ms-expand {
    display: none;
  }
}

/* deafault table */
.cmn-table {
  .table {
    margin-bottom: 0;
    th {
      color: #fff;
      background-color: #3ba6de;
      font-weight: 500;
      font-size: 14px;
    }
    td {
      padding: 0.3rem 0.75rem;
      vertical-align: middle;
      a.btn {
        padding: 0.2rem 1rem;
        &:hover {
          color: #fff;
        }
      }
      i {
        border-radius: 25px;
        background-color: #95c84a;
        position: relative;
        color: #fff;
        width: 25px;
        height: 25px;
        vertical-align: middle;
        cursor: pointer;
        &:first-child {
          margin-right: 15px;
          background-color: #fc5c3c;
        }
        &::before {
          position: absolute;
          top: 29%;
          left: 27%;
        }
      }
    }
  }
}
.table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(59, 166, 222, 0.05);
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: transparent !important;
}
.table-save-btn {
  width: 100%;
  margin-bottom: 5px;
}
.hotel-detail {
  margin-bottom: 1.5rem;
  h2 {
    display: flex;
    justify-content: space-between;
  }
}
.cost-table {
  .table {
    th,
    td {
      border: none;
      vertical-align: middle;
      padding: 0.3rem 0.75rem;
      background-color: transparent;
    }
  }
}
.red {
  color: $danger;
  p {
    margin-bottom: 0;
  }
}
%cmn-padd-mar {
  margin-bottom: 0.5rem;
}
.billing-options {
  @extend %cmn-padd-mar;
  p {
    padding-top: 0.9rem;
  }
}
.row .red {
  @extend %cmn-padd-mar;
}
.form-group {
  margin-bottom: 0.5rem;
}
.card {
  > div:first-child:not(.back-grey) {
    background-color: #e0301e;
  }
  .card-header {
    padding: 0.1rem 0;
    &.back-grey {
      background-color: #7d7d7d;
    }

    button {
      width: 100%;
      text-align: left;
      color: #fff;
      font-size: 0.875rem;
      font-family: 'Helvetica Neue Meduim', sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      &:hover,
      &:active,
      &:focus {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.overlay.active {
  @include respond(phone) {
    display: block !important;
  }
}
#accordion,
#accordion1 {
  margin-bottom: 1rem;
}
.fa-trash-alt {
  color: #e0301e;
}
.fa-pencil-alt {
  color: #eb8c00;
}
.fa-check {
  color: #008000;
}
.hide {
  display: none;
}
.show {
  display: block;
}

.view-event-details {
  text-align: right;
  a {
    color: #e0301e;
    text-decoration: underline;
  }
}
.select2 {
  width: 100% !important;
}
.select2-container--default .select2-selection--single {
  height: auto !important;
  padding: 0.375rem 0.75rem !important;
  line-height: 1.5;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 1.5 !important;
  padding: 0 !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}
.nicescroll-cursors {
  background-color: #eee !important;
  visibility: hidden;
}
/* dashboard */
.dashboard {
  h2 {
    font-size: 1rem;
    text-transform: uppercase;
    color: $font-color3;
    font-weight: 700;
  }
  .row {
    > div {
      margin-bottom: 1rem;
    }
  }
}
.kpi-bg-cmn {
  position: relative;
  padding: 1.5rem;
  color: #fff;
  min-height: 223px;
  @include respond(tab-port) {
    padding: 0.9rem;
  }

  &::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    content: '';
    border-radius: 10px;
    z-index: -1;
  }
  span {
    font-size: 0.875rem;
    font-family: 'Helvetica Neue Bold', sans-serif;
    text-transform: uppercase;
    @include respond(tab-port) {
      font-size: 0.775rem;
    }
  }
  p {
    font-size: 4.375rem;
    font-family: 'Helvetica Neue Medium', sans-serif;
    margin: 0;
    line-height: 1;
    margin-top: 1rem;
    @include respond(tab-port) {
      font-size: 2rem;
    }
  }
  img {
    max-width: 100%;
  }
}

.kpi-bg1 {
  &::before {
    background: $nav-bgcolor;
  }
}
.kpi-bg2 {
  &::before {
    background: $nav-bgcolor;
  }
}
.kpi-bg3 {
  &::before {
    background: $nav-bgcolor;
  }
}

.report-details-cover {
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 4rem;
  .report-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    @include respond(phone) {
      flex-direction: row;
    }
    @include respond(phone-land) {
      flex-direction: row;
    }
    @include respond(tab-port) {
      flex-direction: row;
    }
    h2 {
      font-size: 1rem;
      margin-bottom: 0;
      text-transform: uppercase;
      line-height: 2;
      font-weight: 500;
    }
    .reports-hdr {
      justify-content: space-between;
      display: flex;
      > div {
        margin-right: 1rem;
        margin-bottom: 0;
        @include respond(phone) {
          margin-bottom: 1rem;
          margin-right: 0;
        }
        @include respond(phone-land) {
          margin-bottom: 1rem;
          margin-right: 0;
        }
        @include respond(tab-port) {
          margin-bottom: 1rem;
          margin-right: 0;
        }
        &:last-child {
          margin-right: 0;
          @include respond(phone) {
            margin-bottom: 0;
          }
          @include respond(phone-land) {
            margin-bottom: 0;
          }
          @include respond(tab-port) {
            margin-bottom: 0;
          }
        }
        &.selectdiv {
          min-width: 150px;
          select {
            max-height: 33px;
          }
        }
      }
      .date {
        position: relative;
      }
      .search {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 0.45rem;
          right: 0.8rem;
          background: url(../images/search-icon.png) no-repeat;
          width: 1rem;
          height: 1rem;
        }
      }
      @include respond(phone) {
        flex-direction: column;
      }
      @include respond(phone-land) {
        flex-direction: column;
      }
      @include respond(tab-port) {
        flex-direction: column;
      }
    }
  }
  table {
    border: 1px solid #ccc;
    .btn {
      border-radius: 25px !important;
      padding: 0.1rem 1.5rem;
    }
  }
}
.table-footer {
  margin-top: 1rem;
  @include respond(phone) {
    margin-top: 0;
    flex-direction: column;
    align-items: center;
  }
  p {
    margin: 0;
    line-height: 2.5;
  }
  ul {
    margin: 0;
  }
  .page-item:first-child .page-link {
    padding: 0.27rem 0.75rem 0rem;
  }
  .page-item:last-child .page-link {
    padding: 0.27rem 0.75rem 0rem;
    i {
      transform: rotate(180deg);
    }
  }
}
.res-viw {
  margin-bottom: 1rem;
  .selectdiv {
    &::after {
      right: 25px;
    }
  }
  label {
    font-weight: 700;
  }
}

/* Payments page */
.payments-cover {
  position: relative;
  padding: 1rem 2rem;
  @include respond(tab-land) {
    padding: 1rem;
  }
  @include respond(phone-land) {
    padding: 1rem 0;
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    content: '';
    width: 100%;
    background-color: #3ba6de;
    z-index: -1;
  }
  [class*='col-'] {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
  .pay-header {
    color: #fff;
    text-align: center;
    h2 {
      font-weight: 700;
      font-size: 1rem;
    }
    p {
      font-weight: 400;
      font-size: 0.875rem;
      max-width: 660px;
      margin: 0 auto;
      margin-bottom: 1.2rem;
    }
  }
  .products-cmn {
    background: #fff;
    padding: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
    min-height: 190px;
    @include respond(tab-port) {
      padding: 1.5rem 0;
    }
    img {
      margin-bottom: 1rem;
    }
    p {
      margin: 0 auto;
      font-weight: 700;
      max-width: 130px;
    }
  }
}
.report-details-cover .report-details h2.diff-hd {
  line-height: 1.4;
  padding-top: 0.6rem;
}
.form-group {
  label {
    font-weight: 500;
  }
  h3 {
    font-size: 1rem;
    font-weight: 500;
    color: #3ba6dd;
    margin: 0;
  }
  sup {
    color: red;
  }
}
.btn-choose {
  height: 33px;
}
.btn-choose:focus,
.btn-choose:active {
  box-shadow: none;
}
/* footer */
@import 'footer';
